.game{
    width: 600px;
    height: 200px;
    border-bottom: 1px solid #000;
    margin: auto;
} 

#dino{
    width: 50px;
    height: 50px;
    background-image: url(../img/dino.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}
#cactus{
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url(../img/cactus.png);
    background-size: 40px 40px;
    position: relative;
    top: 110px;
    left: 580px;
    animation: cactusWov 3s infinite linear;
}
@keyframes cactusWov {
    0%{
        left: 580px;
    }
    100%{
        left: -20px;
    }
}

.jump{
    animation: jump 0.8s linear;

}
@keyframes jump {
    0%{
        top: 150px;
    }
    30%{
        top: 130px;
    }
    50%{
        top: 10px;
    }
    80%{
        top: 130px;
    }
    100%{
        top: 150px;
    }
}